numpy
affine
amqp
appdirs
attrs
Cartopy
celery
cronex
Django==3.2.13
django-celery-beat==2.2.1
django-colorfield==0.4.5
django-cors-headers==3.10.0
django-import-export==2.6.1
django-material==1.10.0
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
django-timescaledb==0.2.12
geopandas
matplotlib
MetPy
opencv-python
pandas
psycopg2-binary
PyJWT
pyproj
python-memcached
python-slugify
pytz
rasterio
redis
requests
gunicorn
croniter
django-ckeditor==6.5.1
django-simple-history==3.3.0