name: CI
on:
  push:
    branches: [ development ]

jobs:
  deploy:    
    runs-on: ubuntu-latest
    steps:    
    - name: Deploy source code on cloud
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: |
          cd ${{ secrets.PATH }}
          git pull origin development
          docker-compose exec -T api bash deploy_workflow_migrations.sh
          docker-compose exec -T api python manage.py collectstatic --noinput
          docker-compose stop
          docker-compose up -d
